[Unit]
Description=prometheus-lightsail-sd
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=prometheus
Group=prometheus
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/opt/prometheus-lightsail-sd/prometheus-lightsail-sd --output.file=/opt/prometheus-lightsail-sd/lightsail_sd.json --profile=myProfileName

SyslogIdentifier=prometheus-lightsail-sd
Restart=always

[Install]
WantedBy=multi-user.target
